.auth-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  border: 2px solid var(--auth-form-border-color);
  border-radius: 10px;
  padding: 1rem;

  width: 100%;
  max-width: 450px;

  div {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  input {
    background: var(--input-background-color);
    border: none;
    height: 2.25rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
  }

  input:focus {
    outline-color: var(--auth-form-border-color);
  }

  button {
    width: 100%;
    height: 2.25rem;
    background: var(--button-background-color);
    font-size: inherit;
  }

  button:hover {
    transform: none;
  }

  button:active {
    transform: scale(0.9);
    transition: transform 200ms ease-in-out;
  }

  p {
    margin-top: 0.25rem;
    text-align: center;
  }

  p button {
    transform: none;
    background: none;
    width: fit-content;
  }

  p button:hover {
    text-decoration: underline;
  }
}
