:root {
  --background-color: #fffbeb;
  --font-color: #92400e;
  --auth-form-border-color: #f59e0b;
  --input-background-color: #fef3c7;
  --button-background-color: #f6da8d;
}

body {
  background: var(--background-color);
  color: var(--font-color);
}

.App {
  max-width: 768px;
  margin: auto;
  min-width: 32px;

  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: clamp(0.75rem, 1vw, 1.25rem);

  h1:first-child {
    font-weight: 800;
  }

  nav {
    display: flex;
    gap: 2rem;
  }
}

main {
  flex-grow: 1;
}

footer {
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  border-radius: 5px;
  color: inherit;
  transition: transform 150ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.loading {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
